@font-face {
  font-family:"PixelMPlus";font-style:normal;font-weight:normal;
  src: url('PixelMplus12-Regular.ttf') format('truetype');
}
body {
  font-family: 'PixelMPlus';
  font-size: 12px;
  line-height: 12px;
  color: #FFF;
  overflow: hidden;
}

* {
  user-select: none;
}

.main {
  background: #024;
  position: relative;
}
.panel {
  border: solid 1px #FFF;
  box-sizing: border-box;
  padding: 1px;
  position: absolute;
}
.panel > div:first-child {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: scroll;
}
.panel > div:last-child {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  overflow: hidden;
  cursor: se-resize;
}
.panel > div:last-child::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 15px;
  border: solid 1px #FFF;
  transform: translate(5px, -2px) rotate(45deg);
}
.field {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.field > div {
  text-align: center;
  white-space: nowrap;
}
.logs {
  height: 100%;
  overflow: scroll;
}
.logs > div {
  opacity: 0.6;
}
.logs > div:last-child {
  opacity: 1;
}

.floor {
  color: #777
}
.wall {
  color: #ccc
}
.player {
  color: #FFF
}