@font-face {
  font-family:"PixelMPlus";font-style:normal;font-weight:normal;
  src: url('PixelMplus12-Regular.ttf') format('truetype');
}
body {
  font-family: 'PixelMPlus';
  font-size: 12px;
  line-height: 12px;
  color: #FFF;
  overflow: hidden;
}

.main {
  background: #024
}
.logs {
  overflow: scroll;
}
.logs > div {
  opacity: 0.6;
}
.logs > div:last-child {
  opacity: 1;
}

.floor {
  color: #777
}
.wall {
  color: #ccc
}
.player {
  color: #FFF
}